@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noticia+Text:wght@700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

[class*=col-] {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}



.prorammimgImg {
    background-image: url(imgs/prorammimgImg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0;
    padding: 0;
}


.all {
    margin: 0;
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
    font-family: 'Noticia Text';
    color: #1a1c20;
}

.goBut {
    margin-top: 250px;
    direction: rtl;
}

button {
    padding: 15px;
    border: none;
    background-color: #2a3d66;
    color: white;
    border-radius: 5px;
    width: 40vh;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #726a95;
}

button:focus {
    background-color: #726a95;
    outline: none;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Noticia Text';
}


h2 {
    margin: 0;
}



@media (max-width: 900px) {
    [class*=col-sm-12] {
        height: 50vh;
    }

    .prorammimgImg{
        height: 40vh;
    }
    .all {
        height: 50vh;
        margin: 0;
    }

    .aboutQuiz {
        text-align: center;
        margin: 0;
    }

    .aboutQuiz h1 {
        font-size: 2rem;
    }

    .aboutQuiz h2 {
        font-size: 1.5rem;
    }

    .goBut {
        margin: 3rem;
    }
}